<!doctype html>
<html lang="cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>杭州地铁图（包括规划）</title>
    <!-- <link rel="icon" href="static/makes/hm.ico"> -->
    <link rel="icon" href="{{ url_for('static', filename='makes/hm.ico') }}">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css" />
    <style>
        html,
        body,
        #container {
            height: 100%;
            width: 100%;
        }

        .amap-icon img {
            width: 25px;
            height: 34px;
        }
    </style>
</head>

<body>
    <div id="container"></div>
<!-- 
    <div class="info">
        <h4>获取地图级别与中心点坐标</h4>
        <p>当前级别：<span id="map-zoom">12</span></p>
      </div> -->


    <script type="text/javascript"
        src="https://webapi.amap.com/maps?v=2.0&key=6dd4923560832f2581ee305c00c2d257"></script>
    <script type="text/javascript">
        // 创建地图实例
        var map = new AMap.Map("container", {
            zoom: 12,
            // zoom:18,
            center: [120.210792,30.246026 ],
            resizeEnable: true
        });
    </script>
    <script type="text/javascript" src="static/scripts/mock_pos.js"></script>
    <script src="static/scripts/route.js"></script>
    <script src="static/scripts/icon.js"></script>

    <!-- <script type="text/javascript" src="{{ url_for('static',filename='scripts/mock_pos.js') }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='scripts/route.js') }}"></script> -->
    <!-- <script src="{{ url_for('static',filename='scripts/icon.js') }}"></script>  -->
    

</body>

</html>