{% extends 'base.html' %}

{% block content %}


<ul class="movie-list">
    <!-- <li>
        <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="提交" />
        </form>
    </li> -->
    <li>
        <a href="javascript:;" class="a-upload">
            <input type="file" name="" id="file" class="inputf" onchange="getname()">点击上传文件
        </a>
        <label type="text" disabled="disable" value="" id="fileName"></label>
        <!-- <a href="javascript:;" class="a-upload" id="button" onclick="afterClick()"> -->
        <a href="javascript:;"  class="a-upload" id="button"  onclick="afterClick()">
            <input type="submit" name="" class="inputf">转换
        </a>
        <!-- <button type="button" value="" id="button" >转换</button> -->
    </li>

</ul>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/x2chtml.js') }}">
</script>
{% endblock %}